@model HTTP_5212_Passion_Project_RX_V2.Models.DrugDto
@{
    ViewBag.Title = "View";
}

<a href="/Drug/List">Go Back to Drug List</a>
<h2>@Model.DrugName</h2>
<div>Dosage: @Model.Dosage</div>
<div>Formulation: @Model.Formulation</div>

