@model IEnumerable<HTTP_5212_Passion_Project_RX_V2.Models.DrugDto>
@{
    ViewBag.Title = "List";
}

<h2>Drug List</h2>
@foreach(var drug in Model)
{
  <h2><a href="/drug/Details/@drug.DrugID">@drug.DrugName</a></h2>
  <div>Formulation: @drug.Formulation</div>
  <div>ID: @drug.DrugID</div>
  <div>Dosage: @drug.Dosage</div>
}

